WATCHDOG_TARGET_IP="<APP_ZEROTIER_IP>"
WATCHDOG_TARGET_NAME="gallery-app"
WATCHDOG_PING_COUNT="10"
WATCHDOG_PING_TIMEOUT_SECONDS="1"
WATCHDOG_LOOP_SLEEP_SECONDS="5"
WATCHDOG_STATE_DIR="/var/db/<APP_SLUG>-watchdog/state"
WATCHDOG_STATE_FILE="${WATCHDOG_STATE_DIR}/connectivity.state"
WATCHDOG_FAILURE_KIND="web_app_ping_down"
WATCHDOG_RECOVERY_KIND="web_app_ping_recovered"
WATCHDOG_TEST_FAILURE_KIND="web_app_ping_down_test"
WATCHDOG_TEST_RECOVERY_KIND="web_app_ping_recovered_test"
GALLERY_APP_ALERT_CONFIG="/usr/local/etc/gallery-app-alert.conf"
