APP_ROOT="<APP_ROOT>"
APP_USER="<APP_USER>"
APP_GROUP="<APP_GROUP>"
DB_TOOL="<DB_TOOL_PATH>"
UPLOADS_DIR="<UPLOADS_DIR>"
BACKUP_ROOT="<BACKUP_ROOT>"
SNAPSHOT_DIR="${BACKUP_ROOT}/snapshots"
PRE_RESTORE_DIR="${BACKUP_ROOT}/pre-restore"
OPS_STATUS_DIR="${APP_ROOT}/run/ops-status"
LOG_FILE="<LOG_FILE>"
RETENTION_DAYS="14"
TMP_DIR="/var/tmp"
