# User 1
ADMIN_USER_1=<ADMIN_USERNAME_1>
ADMIN_PASS_1=<ARGON2_HASH_OF_ADMIN_PASSWORD_1>
ADMIN_KEY_1=<ARGON2_HASH_OF_ADMIN_API_KEY_1>

# User 2
ADMIN_USER_2=<ADMIN_USERNAME_2>
ADMIN_PASS_2=<ARGON2_HASH_OF_ADMIN_PASSWORD_2>
ADMIN_KEY_2=<ARGON2_HASH_OF_ADMIN_API_KEY_2>

DATABASE_URL=postgres://DBUSERNAME:DBUSERPASSWORD@DBHOST/<DATABASE>

INDEXNOW_KEY=<INDEXNOW_KEY>
