.top-bar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 900;
}

.top-left-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 900;
    display: flex;
    gap: 10px;
    align-items: center;
}

.gallery-info {
    max-width: 1600px;
    margin: 0 auto 10px auto;
    font-size: 14px;
    color: var(--sub-text-color);
    padding-left: 5px;
}
